{% extends 'base.html' %}
{% block content %}
    <div class="d-flex align-items-start justify-content-around bd-highlight mb-3">
        <section class="col-sm-4 p-2 bd-highlight">

            <h3>Title: {{ object.title }}</h3>
            {% if object.company_logo %}
                <img class="company-logo" src="/media/{{ object.company_logo }}" alt="company logo">
            {% endif %}
            <p class="mt-2">Programing language: {{ object.programming_language }} </p>
            {% if object.salary %}
                <p>Salary: {{ object.salary }}</p>
            {% endif %}
            <p>Description: {{ object.description }}</p>
            {% if request.current_user.pk == object.hr_id or request.current_user.is_superuser or request.current_user.is_staff %}
                <p>
                    <a class="btn btn-warning" href="{% url 'edit_job' pk=object.pk %}">Edit</a>
                    {% if  request.current_user.pk == object.hr_id or request.current_user.is_superuser %}
                        <a class="btn btn-danger" href="{% url 'delete_job' pk=object.pk %}">Delete</a>
                    {% endif %}
                </p>

                {% if job_cvs %}
                    <h4>Candidates list:</h4>
                    <ul class="list-group list-group-flush">
                        {% for job_cv in job_cvs %}
                            <li class="list-group-item">
                                <span>Email: {{ job_cv.email }}</span>
                                <a class="btn btn-success" href="{% url 'download_cv' pk=job_cv.pk %}">Download CV</a>
                                {% if  request.current_user.pk == object.hr_id or request.current_user.is_superuser %}
                                    <a class="btn btn-danger" href="{% url 'delete_cv' pk=job_cv.pk %}">Delete</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h4>No candidates yet.</h4>
                {% endif %}

            {% endif %}
        </section>


        <section class="col-sm-4 bd-highlight">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="text-success"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h3>Submit you CV from here:</h3>
            <form action="{% url 'description_job' pk=object.pk %}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    {{ form }}
                    <button class="btn btn-primary mt-2">Submit CV</button>
                    {% csrf_token %}
                </div>
            </form>
        </section>
    </div>


{% endblock %}