body {
    background-color: lightblue;
}

main {
    overflow-y: auto;
}

form .errorlist {
    color: red;
}

ul .success {
    color: green;
}

.card {
    padding: 0;
}

/*.card {*/
/*    background-color: transparent;*/
/*}*/