<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>JoBBox</title>
</head>
<body>
<nav>
{% if not request.current_user.is_authenticated %}
    <ul>
        <li><a href="{% url 'login_user' %}">Login</a></li>
        <li><a href="{% url 'register_user' %}">Register User</a></li>
    </ul>
{% else %}
    <ul>
        {% if request.current_user.profilehr %}
            <li><a href="{% url 'create_job' %}">Create Job</a></li>
        {% endif %}
        <li><a href="{% url 'profile_user' %}">Profile</a></li>
        <li><a href="{% url 'logout_user' %}">Logout</a></li>
    </ul>
{% endif %}
</nav>

{% block content %}
{% endblock %}

<footer>
    <hr>
    Created by Peter
    <a href="{% url 'about' %}">About Us</a>
</footer>
</body>
</html>
