{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>JoBBox</title>
    <link rel="icon" type="image/x-icon" href="{% static 'jobbox_logos/favicon.png' %}">
</head>
<body>

<header class="header" stlye="height: 100%;">
    <nav class="navbar navbar-expand-sm navbar-light bg-info">
        <div class="container-fluid">
            <a href="{% url 'index' %}">
                <img src="{% static 'jobbox_logos/logo_transparent.png' %}" alt="JoBBoX logo" width="150"
                     class="d-inline-block align-top">
            </a>
            {% if not request.current_user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link badge badge-dark fw-bold nav-link" href="{% url 'login_user' %}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link badge badge-dark" href="{% url 'register_user' %}">Register</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        {% if request.current_user.is_superuser %}
                            <span class="nav-link badge badge-dark fw-bold">Hi, Admin</span>
                        {% elif request.current_user.is_staff %}
                            <span class="nav-link badge badge-dark fw-bold">Hi, Staff</span>
                        {% else %}
                            <span class="nav-link badge badge-dark fw-bold">Hi, {{ request.current_user.profilehr.first_name }}</span>
                        {% endif %}
                    </li>
                    {% if request.current_user.is_admin or request.current_user.is_staff %}
                        <li class="nav-item active">
                            <a class="nav-link badge badge-dark fw-bold" href="{% url 'all_profiles' %}">All
                                profiles</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link badge badge-dark fw-bold" href="{% url 'contact_us_list' %}">Check
                                feedback</a>
                        </li>

                    {% else %}
                        <li class="nav-item active">
                            <a class="nav-link badge badge-dark fw-bold" href="{% url 'create_job' %}">Create Job</a>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link badge badge-dark fw-bold" href="{% url 'profile_user' %}">Profile</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link badge badge-dark fw-bold" href="{% url 'logout_user' %}">Logout</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

</header>


<main class="main-content">
    <div class="container">
        <div class="row justify-content-center mt-4">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>


<footer class="bg-info footer">
    <div class="centered-content d-flex justify-content-center" style="width: 100%;">
        <ul class="list-unstyled text-center" id="footer-list">
            <li>
                <a href="https://github.com/peter-marinov/jobbox">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
            <li>
                <a class="remove-link-underline text-white-70" href="{% url 'about' %}">About Us</a>
            </li>
            <li>
                <small class="text-white-70">&copy; Copyright by Peter Marinov. All rights reserved.</small>
            </li>
        </ul>
    </div>

</footer>

</body>
</html>
