<div class="custom-file">
    <input type="file" name="{{ widget.name }}" class="custom-file-input" id="{{ widget.attrs.id_for_label }}">
    <label class="custom-file-label" for="{{ widget.attrs.id_for_label }}">
        {% if widget.value.url %}
            Current: <a href="{{ widget.value.url }}">{{ widget.value.name }}</a>
        {% else %}
            Choose file...
        {% endif %}
    </label>
    {% if widget.value and not widget.is_required %}
        <div class="custom-control custom-checkbox">
            <input type="checkbox" name="{{ widget.clear_checkbox_name }}" class="custom-control-input" id="{{ widget.clear_checkbox_id }}"{{ widget.clear_checkbox_input_attrs }}>
            <label class="custom-control-label" for="{{ widget.clear_checkbox_id }}">Clear</label>
        </div>
    {% endif %}
</div>