{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if messages %}
        <ul class="success d-flex justify-content-center">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <section class="card bg-transparent" style="width: 28rem;">
        {% if user.profile_picture %}
            <img class="card-img-top" style="max-height: 14rem;" src="/media/{{ user.profile_picture }}"
                 alt="company logo">
        {% else %}
            <div class="d-flex justify-content-center">
                <img class="card-img-top pt-2" style="max-height: 14rem; max-width: 14rem;"
                     src="{% static 'profilehr/profile-user.png' %}" alt="">
            </div>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">Name: {{ user.full_name }}</h5>

            <p class="card-text">Company: {{ user.company_name }}</p>
            {% if user.telephone_number %}
                <p class="card-text">Telephone number: {{ user.telephone_number }}</p>
            {% else %}
                <p class="card-text">Telephone number: Not added</p>
            {% endif %}
            <div id="profile-buttons">
                <a class="btn btn-warning mb-3" href="{% url 'edit_profile' %}">Edit Profile</a>
                <a class="btn btn-warning mb-3" href="{% url 'change_password' %}">Change Password</a>
                <a class="btn btn-danger mb-3" href="{% url 'delete_profile' %}">Delete Profile</a>

            </div>
            <div id="jobs-buttons">
                <p class="card-text">You have {{ number_of_jobs }} jobs created.</p>
                <a class="btn btn-primary mb-3" href="{% url 'my_hr_list' %}">My jobs list</a>
                <a class="btn btn-primary mb-3" href="{% url 'create_job' %}">Create job</a>
            </div>
            <div id="task-buttons">
                <p class="card-text">You have {{ number_of_tasks }} tasks created.</p>
                <a class="btn btn-primary" href="{% url 'list_hr_task' %}">My tasks list</a>
                <a class="btn btn-primary" href="{% url 'create_hr_task' %}">Create task</a>
                {% if request.current_user.is_superuser or request.current_user.is_staff %}
                    <a class="btn btn-primary" href="{% url 'list_all_tasks' %}">All tasks</a>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}