{% extends 'base.html' %}
{% block content %}

    <h2>User: {{ request.current_user }}</h2>


    {% if user_type == 'user' %}
        <p>Name: {{ user.first_name }}</p>
    {% else %}
        <p>Name: {{ user.first_name }}</p>
        <p>Company: {{ user.company_name }}</p>
    {% endif %}

    {% if request.current_user.profilehr %}
        <a href="{% url 'my_hr_list' %}">Check my created jobs</a>
    {% endif %}
    <a href="{% url 'edit_profile' %}">Edit Profile</a>
    <a href="{% url 'delete_profile' %}">Delete Profile</a>

{% endblock %}