{% extends 'base.html' %}
{% load static %}
{% block content %}

    <section class="card bg-transparent" style="width: 28rem;">
        {% if user.profile_picture %}
            <img class="card-img-top" src="/media/{{ user.profile_picture }}" alt="company logo">
        {% else %}
            <img class="card-img-top" src="{% static 'profilehr/profile-user.png' %}" alt="">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">Name: {{ user.full_name }}</h5>

            <p class="card-text">Company: {{ user.company_name }}</p>
            {% if user.telephone_number %}
                <p class="card-text">Telephone number: {{ user.telephone_number }}</p>
            {% else %}
                <p class="card-text">Telephone number: Not added</p>
            {% endif %}
            <a class="btn btn-warning mr-5" href="{% url 'edit_profile' %}">Edit Profile</a>
            <a class="btn btn-danger" href="{% url 'delete_profile' %}">Delete Profile</a>
        </div>
    </section>

    <div class="links">
        <a href="{% url 'my_hr_list' %}">My jobs list</a>
        <a href="{% url 'create_job' %}">Create job</a>

        <a href="{% url 'list_hr_task' %}">My tasks list</a>
        <a href="{% url 'create_hr_task' %}">Create task</a>


        <br>
        <br>

    </div>

{% endblock %}